<app-header titulo="Date Time"></app-header>

<ion-content padding>

	<ion-list>

		<ion-list-header>
			<ion-label>Datos de nacimiento</ion-label>
		</ion-list-header>

		<ion-item>
			<ion-label>Fecha de Nacimiento</ion-label>
			<ion-datetime placeholder="--/--/---"
						  display-format="DD MMMM YYYY"
						  [ngModel]="fechaNaci.toISOString()"
						  (ionChange)="cambioFecha( $event )"
						  ></ion-datetime>
		</ion-item>

		<ion-list-header>
			<ion-label>Restricciones</ion-label>
		</ion-list-header>

		<ion-item>
			<ion-label>Min y Max</ion-label>
			<ion-datetime placeholder="dd-mm-yyyy"
						  display-format="DD MMMM YYYY"
						  min="2015-01-01"
						  max="2015-12-31">
				
			</ion-datetime>
		</ion-item>

	</ion-list>

</ion-content>
