<app-header titulo="Grid" translucent></app-header>

<ion-content padding fullscreen>

	<ion-grid fixed>
		<ion-row>
			<ion-col size="12" size-lg="3" size-md="4" size-sm="6" 	         size-xs="12"
					 *ngFor="let c of [1,1,1,1,1,1,1,1,1,1,1,1];">
				<ion-card>
					<ion-img src="/assets/loro.jpg"></ion-img>
					<ion-card-header>
						<ion-card-subtitle>Card Subtitle</ion-card-subtitle>
						<ion-card-title>Card Title</ion-card-title>
					</ion-card-header>
					<ion-card-content>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis aliquam velit suscipit quidem iusto, dolorum distinctio, ea ex illo quaerat sunt porro. Totam optio, aut quas iste sunt inventore odit!
					</ion-card-content>
				</ion-card>
			</ion-col>
		</ion-row>
	</ion-grid>
	
</ion-content>
