<app-header titulo="About"></app-header>

<ion-content>

	<div style="margin: 10px 25px;">
		<ion-item>
		<ion-label style="color:#3933FF"><h1>Misión</h1></ion-label>

	</ion-item>
	
	<ion-text style="color:#339FFF">
		<hr>
		<p>
			"Somos una empresa dedicada a diagnosticos, mantenimiento y reparación de equipos eléctricos de manera confiables y de calidad. Buscamos solucionar las necesidades de nuestros clientes basándonos en nuestra capacidad de innovación, amplio stock, talento humano e infraestructura moderna"
		</p>
		
	</ion-text>

	<ion-item>
		<ion-label style="color:#3933FF"><h1>Visión</h1></ion-label>

	</ion-item>
	
	<ion-text style="color:#339FFF">
		<hr>
		<p>
			"Ser reconocidos como la mejor empresa en el mercado de reparación y mantenimiento de eléctricos y duplicar rentablemente nuestra facturación en 2021"
		</p>
		
	</ion-text>

	<ion-item>
		<ion-label style="color:#3933FF"><h1>Valores</h1></ion-label>

	</ion-item>
	
	<ion-text style="color:#339FFF">
		<hr>
		<p>
			Integridad.<br>
			Compromiso y entrega.<br>
			Trabajo en equipo.<br>
			Relaciones a largo plazo.<br>
			Innovación y apertura.<br>
		</p>
		
	</ion-text>

	<ion-item>
		<ion-label style="color:#3933FF"><h1>Filosofia</h1></ion-label>

	</ion-item>
	
	<ion-text style="color:#339FFF">
		<hr>
		<p>
			El trabajo, constancia, orden y disciplina es el factor del éxito de nuestra empresa. Somos una empresa que nos esforzamos día a día para dar a nuestros clientes lo mejor de nosotros a fin de brindarle una buena y cordial atención y así copar todas sus necesidades dentro del rubro en el cual nos hemos desarrollado. Estamos dispuestos a emplear todo nuestro potencial, conocimiento y calidad humana para cumplir nuestros objetivos.
		</p>
		
	</ion-text>


	</div>

</ion-content>
