<ion-header>
  <ion-toolbar>
  	<ion-buttons slot="start">
  		<ion-back-button defaultHref="/"></ion-back-button>
  	</ion-buttons>

    <ion-title>Botones</ion-title>

    <ion-buttons slot="end">
    	
    	<ion-button>
    		<ion-icon name="heart"></ion-icon>
    	</ion-button>

    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
	<ion-button size="small" expand="full">Small</ion-button>
	<ion-button size="default" expand="full">Default</ion-button>
	<ion-button size="large" expand="full">Large</ion-button>

<!-- Link--->
	<ion-button class="top-20"
				expand="full" 
				routerLink="/avatar" 
				color="tertiary">Link for Avatar</ion-button>
<!-- ion-row + ion-col -->
	<ion-row class="top-20">
		<ion-col>
			<ion-button expand="full" routerLink="/alert" color="tertiary">Alert</ion-button>
		</ion-col>
		<ion-col>
			<ion-button expand="full" routerLink="/action-sheet" color="tertiary">Action Sheet</ion-button>
		</ion-col>
	</ion-row>
</ion-content>
