<app-header titulo="Action Sheet"></app-header>
<ion-content padding>
	<ion-button expand="full" 
				color="primary"
				(click)="presentActionSheet()">
		Mostrar Action Sheet
	</ion-button>
</ion-content>
