<ion-header>
  <ion-toolbar>

  	<ion-buttons slot="start">
  		<ion-back-button defaultHref="/"></ion-back-button>
  	</ion-buttons>

    <ion-title>avatar</ion-title>

    <ion-buttons slot="end">
    	<ion-avatar>
    		<img src="/assets/av.jpg">
    	</ion-avatar>
    	
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content padding>

	<ion-chip color="primary" *ngFor="let i of [1,1,1,1]">
		<ion-avatar>
				<img src="/assets/av.jpg">
			</ion-avatar>
			<ion-label>Monkey Ideas</ion-label>
	</ion-chip>

	<ion-list>
		<ion-item *ngFor="let i of [1,1,1,1]">
			<ion-avatar>
				<img src="/assets/av.jpg">
			</ion-avatar>
			<ion-label>Monkey Ideas</ion-label>
		</ion-item>
	</ion-list>

</ion-content>
