<app-header titulo="Fab"></app-header>

<ion-content>

	<ion-fab vertical="bottom" horizontal="end" slot="fixed">
		<ion-fab-button>
			<ion-icon  name="add"></ion-icon>
		</ion-fab-button>

		<ion-fab-list side="top">
			<ion-fab-button><ion-icon color="facebook" name="logo-facebook"></ion-icon></ion-fab-button>
			<ion-fab-button><ion-icon color="twitter" name="logo-twitter"></ion-icon></ion-fab-button>
			<ion-fab-button><ion-icon color="youtube" name="logo-youtube"></ion-icon></ion-fab-button>
		</ion-fab-list>

		<ion-fab-list side="start">
			<ion-fab-button><ion-icon name="logo-vimeo"></ion-icon></ion-fab-button>
			<ion-fab-button><ion-icon color="youtube" name="logo-google"></ion-icon></ion-fab-button>
			<ion-fab-button><ion-icon color="github" name="logo-github"></ion-icon></ion-fab-button>
		</ion-fab-list>
	</ion-fab>

</ion-content>

<ion-footer>
	<ion-toolbar>
		<ion-title>Este es el footer</ion-title>
	</ion-toolbar>
</ion-footer>