<app-header titulo="Card" ></app-header>

<ion-content padding>

<ion-card >

  <ion-card-header color="primary">
    <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
    <ion-card-title>Card Title</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    Keep close to Nature's heart... and break clear away, once in awhile,
    and climb a mountain or spend a week in the woods. Wash your spirit clean.
  </ion-card-content>

</ion-card>

<ion-card>
	<ion-item color="primary">
		<ion-icon color="light" slot="start"name="pin"></ion-icon>
		<ion-label>Marcador</ion-label>
	</ion-item>

	<ion-card-content>
		Lorem, Keep close to Nature's heart... and break clear away, once in awhile,
    and climb a mountain or spend a week in the woods. Wash your spirit clean.
	</ion-card-content>
</ion-card>

<ion-card>
	
	<ion-img src="/assets/av.jpg"></ion-img>
	<ion-card-content>
		Lorem, Keep close to Nature's heart... and break clear away, once in awhile,
    and climb a mountain or spend a week in the woods. Wash your spirit clean
	</ion-card-content>
</ion-card>

</ion-content>
