<app-header titulo="Input"></app-header>

<ion-content>

	<form #formulario="ngForm" (ngSubmit)="onSubmitTemplate()">

		<ion-list>

			<ion-item>
				<ion-label position="floating">Nombre</ion-label>
				<ion-input type="text"
						   name="nombre"
						   [(ngModel)]="usuario.nombre"></ion-input>
			</ion-item>
			
			<ion-list-header>
				<ion-label>Formulation template: Valido {{ formulario.valid }}</ion-label>
			</ion-list-header>

			<ion-item>
				<ion-label position="floating">Email</ion-label>
				<ion-input type="email"
						   name="email"
					   	   [(ngModel)]="usuario.email"
					   	   pattern="^([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([A-zA-Z]{2,5})$"
					   	   required></ion-input>
			</ion-item>

			<ion-item>
				<ion-label position="floating">Password</ion-label>
				<ion-input type="password"
						   name="password"
					   	   [(ngModel)]="usuario.password"
					   	   required></ion-input>
			</ion-item>
		</ion-list>
	
		<ion-button expand="full" type="submit"
					[disabled]="formulario.invalid">
					Enviar</ion-button>
	</form>

</ion-content>
