<app-header titulo="Listas"></app-header>

<ion-content>
	<ion-list>
		<ion-item-sliding *ngFor="let user of usuarios | async">
			<ion-item>
				<ion-label>
					<h3>{{ user.name }}</h3>
					<p>{{ user.email }}</p>
				</ion-label>
				<label slot="end" text-right>{{ user.phone }}</label>
			</ion-item>
			<ion-item-options side="start">
		 		<ion-item-option (click)="favorite(item)">
		 			<ion-icon slot="icon-only" name="heart"></ion-icon>
		 		</ion-item-option>
      			<ion-item-option color="secondary" (click)="share(item)">
		 			<ion-icon slot="icon-only" name="share"></ion-icon>
		 		</ion-item-option>
			</ion-item-options>
    		<ion-item-options side="end">
        		<ion-item-option color="danger" (click)="borrar(item)">
		 			<ion-icon slot="icon-only" name="trash"></ion-icon>
		 		</ion-item-option>
    		</ion-item-options>
		</ion-item-sliding>
		
	</ion-list>
</ion-content>
